.white-outline-btn {
    position: absolute;
    bottom: 40px;
    padding: 10px 40px;
    height: 50px;
    
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 0px;
    
    font-family: 'Exo 2', sans-serif;
    font-size: 1.2em;
    font-weight:400;
    color: #ffffff;
    text-transform: uppercase;
}

.btn-left {
    left: 40px;
}

.btn-right {
    right: 40px;
}

.white-outline-btn:hover,
.white-outline-btn:focus,
.white-outline-btn:active {
    background-color: rgba(255,255,255,0.5);
    color: #ffffff;
}

.btn-chevron {
    padding-left: 5px;
}

.red-btn-fbt {
    background-color: #f6333e;
     border:  1px solid  #f6333eE;
    
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}

.red-btn-fbt:hover,
.red-btn-fbt:active,
.red-btn-fbt:focus {
    background: #000000;
    border: 1px solid #f7f7f7;
    
    font-weight: 400;
    color: #ffffff;
}

.drk-grey-btn-fbt {
    background-color: #404041;
     border:  1px solid  #404041;
    
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}

.drk-grey-btn-fbt:hover,
.drk-grey-btn-fbt:active,
.drk-grey-btn-fbt:focus {
    background: #000000;
    border: 1px solid #f7f7f7;
    
    font-weight: 400;
    color: #ffffff;
}

.lt-blu-btn-fbt {
    background-color: #5adbff;
     border:  1px solid  #5adbff;
    
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}

.lt-blu-btn-fbt:hover,
.lt-blu-btn-fbt:active,
.lt-blu-btn-fbt:focus {
    background: #000000;
    border: 1px solid #f7f7f7;
    
    font-weight: 400;
    color: #ffffff;
}

.lt-grn-btn-fbt {
    background-color: #44af69;
     border:  1px solid  #44af69;
    
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}

.lt-grn-btn-fbt:hover,
.lt-grn-btn-fbt:active,
.lt-grn-btn-fbt:focus {
    background: #58595b;
    border: 1px solid #f7f7f7;
    
    font-weight: 400;
    color: #ffffff;
}



/*---- MEDIA QUERIES -----*/

@media (max-width: 600px){
    
    .btn-100 {
        left: 20px;
        width: 90%;
    }
}