A/*---- HERO CAROUSEL -----*/

    /* Carousel base class */
    .carousel {
/*      margin-bottom: 60px;*/
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

/*
    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }
*/

    .hero_carousel_item {
      height: 500px;
    }

    .hero_carousel_img {
      position: absolute!important;
      top: 0!important;
      left: 0!important;
      min-width: 100%!important;
/*      height: 500px!important;*/
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }

    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }

/*---- /HERO CAROUSEL -----*/


/*----- PRODUCT CAROUSEL-----*/

.twoThirds-product-h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    
    font-family: 'Exo 2', sans-serif;
    font-size: 3em;
    font-weight:700;
    color: #909295;
    text-transform:uppercase;
}

.twoThirds-product-h2-light {
    font-weight:400;
}

.product-slider{
    margin-bottom: 20px;
}

.product-slider-rule {
    margin-top: 15px;
    width: 100px;
    border-bottom: 1px solid #ced0d1;
}

.product-slider h4,
.product-slider h5 {
    color: #58595b;
}

.product-slider h4 {
    margin-bottom: 2px;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.1em;
    
}

.product-slider h5 {
    margin: 5px 0px 2px;
    font-family: 'Exo 2', sans-serif;
    font-size: 1em;
    font-weight:600;
}

.product-slider-review i {
    margin: 0px 1px;
    font-size: .8em;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    font-family: 'fontAwesome';
    color:#ffffff;
    text-align: center;
    line-height: 40px;
    
}

.owl-carousel .owl-nav .owl-prev:before {
/*    fa-chevron-left*/
    content: "\f053";
/*    margin-right: 10px;*/
}

.owl-carousel .owl-nav .owl-next:before {
/*    fa-chevron-left*/
    content: "\f054";
/*    margin-right: 10px;*/
}

.owl-carousel .owl-nav .owl-prev, 
.owl-carousel .owl-nav .owl-next {
    opacity: 0;
    position:absolute;
    top: calc(35% - 18px);
    z-index: 3;
    height: 40px;
    width: 40px;
    background: orange;
}

.owl-carousel:hover .owl-nav .owl-prev, 
.owl-carousel:hover .owl-nav .owl-next {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.owl-carousel .owl-nav .owl-prev:hover, 
.owl-carousel .owl-nav .owl-next:hover {
    background: grey;
}

.owl-carousel .owl-nav .owl-prev {
    left: 0;
}

.owl-carousel .owl-nav .owl-next {
    right: 0;
}




/*----- /PRODUCT CAROUSEL-----*/