.skuPrice,
.skuOriginalPrice,
.skuNumber {
    font-family: 'Exo 2', sans-serif;
}

.toy-experts_cart,
.topCheckoutSub,
.productDescription {
    font-family: 'Roboto Slab', serif, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.dropbtnLabel,
.coupon-btn,
input.textInput,
.checkoutNavLink,
.topCheckoutContainer,
.form.shippingForm,
input.guestCheckoutInput,
.expDropbtn,
div.expShippingForm,
.secure-checkout-btn,
.btmChecktContainer {
    font-family: 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif;
}





/*------- GENERAL -------*/
.mobileCheckout {
    max-width: 480px;
    margin: 0 auto;
    
    background-color: #ffffff;
    
/*    border: solid 1px;*/
}

 .container {
/*        width:100%;*/
        padding-left: 0;
        padding-right: 0;
    } 

/*
.form-control {
    height: 42px;
    border-radius: 0px;
    
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    
    font-weight: 400;
    
}
*/


/*
.form-control::-webkit-input-placeholder { color: #a9a9a9; }
.form-control:-moz-placeholder { color: #a9a9a9; }
.form-control::-moz-placeholder { color: #a9a9a9; }
.form-control:-ms-input-placeholder { color: #a9a9a9; }
*/

/*------- TOP CHECKOUT NAV -------*/
.cart-back-to-nav-wrap {
    padding: 0px;
}

.checkoutNavLink-wrap {
    padding: 20px 20px;
}

.toy-experts_cart-wrap {
    padding: 20px 20px;
    
    text-align: right;
}

.toy-experts_cart {
   padding-bottom: 20px 0px;
    
    font-size: 1em;
    font-weight: 800;
    color: #000000;
}

.toy-expert-ph-number {
    padding-left: 20px;
    font-size: 1.4em;
}

.checkoutNavLink {
    padding: 20px 10px 0;
        
    color: #808285;
    font-weight: 600;
    text-transform: uppercase;   
}

.checkoutNavLink:hover{
	color: #5B5B5B;
}

.checkoutNavLink span.glyphicon-menu-left {
    width: 32px;
    
    vertical-align: middle;
    font-size: 1.4em;
    line-height: 32px;
}

span.checkoutNavCopy {
    vertical-align: middle;
    
    font-size: 22px;
    font-weight: 600;
}

/*------- TOP SECURE CHECKOUT -------*/
.topCheckoutContainer {
    margin-top: 10px;
    padding: 0 10px;
    
}

span.estimatedItems {
    padding-left: 8px;
    font-size: .75em;
    font-weight: 700;
}

span.topSubTotal {
    font-size: 1.4em;
}

.secure-checkout-btn span.glyphicon-lock {    
    line-height: 22px;
}

.secure-checkout-btn span.glyphicon-check {    
    line-height: 21px;
}

.call-btn span.glyphicon-phone {
    line-height: 28px;
}

.secure-checkout-btn {
    height: 45px;
    width: 100%;
    min-width: 150px;
    background-color: #f6333c;
    border-radius: 0px;
    
    font-size: 1.2em;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}

.call-btn {
    background: #404041;
    
    line-height: 28px;
}

.secure-checkout-btn:hover,
.secure-checkout-btn:focus {
    background: #000000;
    
    border: 1px solid #ffffff;
    
/*    font-weight: 800;*/
    color: #ffffff; 
}

/*
span.checkout-btn-label {
    display: table-cell;
    vertical-align: middle;
}
*/

.topCheckoutSub {
    display: inline-block;
    padding-left: 5px;
    
    font-weight: 800;
    line-height: 1.25em;
}

.sub2 {
    display: inline-block;
    padding-left: 12px;
    float: right;
    
    vertical-align: middle;
}

/*------- SHIPPING FORM -------*/
div.shippingContainer {
/*    padding: 0 10px;*/
}

form.shippingForm {
    border:1px solid #e2e2e2;
    background-color: #ffffff;
    margin-top: 8px;
    
}

div.shippingParent {
    padding: 7px 8px 8px 8px;
}

.cartRuleTop {
    border-top:1px solid #e2e2e2;
}

.cartRuleBtm {
    border-bottom:1px solid #e2e2e2;
}

div.inputContainer {
    display: inline-block;
    vertical-align: top;
}

.shippingRadio {
    display: inline-block;
} 

input[type='radio'] {
/*    transform: scale(1.5);*/
    padding-top: 20px;
}

div.shipMethodParent {
    display: inline-block;
}

div.shipStatus {
    display: inline-block;
    float: right;
}

span.shippingMethod {
    padding-left: 10px;
    
    font-weight: 800;
}

span.shippingFree {    
    color: #f6333c;
    font-weight: 900;
    text-transform: uppercase;   
}

div.shippingLabel a {
    padding-left: 10px;
    
    color: blue;
    text-decoration: underline;
}

div.shippingLabel a:hover {
    color: #f6333c;
}

span.shippingFlatRate {
    font-weight: 800;
    
    float: right;
}

p.shippingCopy {
    padding-left: 30px;
    
    font-size: .875em;
    font-weight:500;
}

/*------- PROMO & CERTIFICATE DROPDOWN -------*/


div.dropContainerCheck {
    padding: 0 0;
}

/* Dropdown Button */
.dropbtn {
    display: block;
    
    width: 100%;
    height: 42px;
    margin-top: 10px;
    background: #a7a9b2;
    
    font-size: 1.25em;
    font-weight: 600;
    text-align: left;
    color: #f1f1f1;
    
    border: solid 1px #a7a9b2;
    cursor: pointer;
}

span.dropbtnLabel {
    vertical-align: middle;
    display: inline-block;
    padding-left: 10px;
    
/*
    font-weight: 800;
    color: #f1f1f1;
*/
}

.dropbtn i {
    line-height: 21px;
}


.coupon-btn {
    height: 38px!important;
    border-radius: 0px!important;
    
    background-color: #404041;
    
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}

.coupon-btn:hover,
.coupon-btn:focus {
    background-color: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
}



/*------- END PROMO & CERTIFICATE DROPDOWN -------*/

/*------- PROMO & CERTIFICATE FORM -------*/

.couponForm input[type=text] {
    height: 38px;
    
    border-radius: 0px;
/*    margin-left: 3px;*/
}

.couponForm input[type=submit] {
    margin-left: 1px;
}

form.couponForm {
    margin-top: 10px;
    text-align: right;
}

form.couponForm2 {
    margin-top: 7px;
}

input.textInput {
    padding-left: 10px;
    }

.couponForm div {
    padding-left: 0px;
    padding-right: 8px;
}

/*------- END PROMO & CERTIFICATE FORM -------*/

/*------- BEGIN CART -------*/
div.cartContainer {
    margin-top: 10px;
}

.reviewCartContainer {
        background-color: #f2f2f2;
}

div.productContainer {
     clear:both;
    overflow:hidden;

    padding-top: 2px;
    padding-bottom: 2px;
    

}

div.productContainer img {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.addRemoveProduct {
    display: inline-block;
    vertical-align: text-bottom;
    margin: 0 0 3px 5px;
}

button.cartButton {
    width: 26px;
    height: 26px;
        
    font-size: 1em;
    font-weight: 500;
}

input.textInputCart {
    font-size: 12px;
    vertical-align: top;
    height: 20px;
}



div.cartRight {
    text-align: right;
    
    height: 105px;
}

a.productDescription, div.cartRight span {
    display: block;
}

a.productDescription {
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.25em;
    color: #404041;
    text-decoration: none;
}

a.productDescription:hover {
    color: #f6333c;
}

a.skuNumber {
    font-size: .9em;
    font-weight: 400;
    color: #404041;
    text-transform:uppercase;
}

a.skuNumber:hover {
    color: #f6333c;
}

.price-wrap {
    position: absolute;
    bottom: 2px;
    right: 10px;
}

span.skuPrice {
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.2em;
}

span.skuOriginalPrice {
    margin-top: 10px;
    
    color: #c0c0c0;
    font-size: 1.125em;
    font-weight: 500;
    line-height: 1.2em;
     text-decoration: line-through; 
}
/*------- END CART -------*/

/*------- CREDIT CARD -------*/

.cc-parent input.form-control {
    border: 1px solid #bbbbbb;
    border-radius: 0px;
}

/*------- //CREDIT CARD -------*/

/*------- BEGIN BOTTOM CHECKOUT FORM -------*/

div.btmChecktContainer {
/*    margin-bottom: 25px;*/
    background-color: #f2f2f2;
}

div.btmChecktParent {
    padding: 10px;
    
    overflow: hidden;
    clear: both;
}

div.btmChecktProduct, div.btmChecktShipping, div.btmChecktSubTotal    {
    font-size: .875em;
    font-weight: 500;
}

span.productTotalNotes {
    font-size: .8em;
}

span.btmProductTotal {
    float: right;
}

span.btmChecktShipStatus {
    float: right;
    
    color: #f6333c;
    font-weight: 800;
    text-transform: uppercase;
}

div.btmChecktSubTotal {
    font-weight: 900;
}

div.btmCheckoutSub {
    margin-top: 5px;
}


.checkout-btn-large:hover{
	text-decoration: none;
	background: #5B5B5B;
	border: 1px solid #5B5B5B;
	border-top: 2px solid #5B5B5B;
}


/*------- END BOTTOM CHECKOUT FORM -------*/

/*------- BEGIN REVIEW ORDER FORM -------*/

.cartparent,
.confirmOrderContainer {
    width: 90%;
    margin: 0 auto;
}

/*------- END REVIEW ORDER FORM -------*/

/*------- BEGIN PURCHASE PAGE -------*/

/*------- BEGIN ACCOUNT LOGIN SECTION -------*/
div.accountLoginContainer{
/*
    margin-top: 10px;
    padding: 0 10px;  
*/
    
    text-align: right;
}

span.accountLabel {
    font-weight: 800;
    line-height: 38px;
}

a.accountBtn {
	background:#e37325;
	padding:0.4em 1em;
	color:#fff;
	border-radius:30em;
	-webkit-border-radius:30em;
	-moz-border-radius:30em;
	-o-border-radius:30em;
	-ms-border-radius:30em;
	border: 1px solid #9b6612;
	border-top: 2px solid #e5b25f;
	display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    
    font-weight: 500;
    text-transform: uppercase; 
}

a.accountBtn:hover{
	text-decoration: none;
	background: #5B5B5B;
	border: 1px solid #5B5B5B;
	border-top: 2px solid #5B5B5B;
}


/*------- END ACCOUNT LOGIN SECTION -------*/

/*------- BEGIN GUEST CHECKOUT SECTION -------*/
.checkout-form-container {
    margin-bottom: 10px;
}

.guestCheckout {
    margin-top: 10px;
}

label.guestCheckoutLabel {
    font-weight: 800;
}

.addressFieldset {
    border: 1px solid #bbbbbb;
    margin-top: 5px;
}

input.guestCheckoutInput {
/*    width: 95%;*/
    height: 42px;
    padding-left: 10px;
    
    font-size: 12px;
    font-weight: 400;
    
    border:0;
    outline:0;
}

input.shipAdressInput_1 {
/*    width:55%;*/
}

input.shipAdressInput_2 {
/*    width:36%;*/
}

input.shipAdressInput_3 {
/*    width:45%;*/
}

input.shipAdressInput_4 {
/*    width:20%;*/
}

input.shipAdressInput_5 {
/*    width:15%;*/
}

.statesOption {
    margin-top: 6px;
}

/*------- END GUEST CHECKOUT SECTION -------*/

/*------- BEGIN ALT SHIPPING SECTION -------*/

/*
input[type=checkbox]{
    display: none;
}
*/

div.altShippingAddress {
    display: none;
	text-align: left;
}

input[type=checkbox]:not(:checked) ~ div.altShippingAddress {
    display: inherit;
}

/*------- END ALT SHIPPING SECTION -------*/

/*------- BEGIN SHIPPING SECTION -------*/


p.expDropbtnLabel {
    display: block;
    margin-bottom: 0px;
    padding: 0 20px 0 10px;
    
    font-weight: 800;
    line-height: 1em;
}

div.expDropbtnLabelParent {
    display:inline-block;
    
    padding-top: 5px;
}

span.expShipTime {
    
    font-size: .8em;
    font-weight:500;
    text-transform: none;
}

.ship-btn {
    margin-top: 0px;
}

.ship-btn .glyphicon-plus {
    line-height: 33px;
}

div.expShippingForm {
/*    border:1px solid #e2e2e2;*/
    background-color: #ffffff;
    margin-top: 8px;
    
}

div.shippingMethodContainer {
    display: inline-block;
    width: 50%;
}

div.shipMethodLink {
    display: inline-block;
    width: 80%;
    padding-left: 5px;
    
    
    text-align: left;
}

a.shippingMethod, span.shipDate {
    font-size: .875em;
    font-weight: 500;
}

a.shippingMethod {
    width: 50%;
    
    padding-left: 5px;
    
    color: blue;
    text-decoration:underline;
}

a.shippingMethod:hover {
    color: #f6333c;
}

div.expShipLabel{
    display:inline-block;
/*    margin-top: 3px;    */
    float: right;
}

span.expShipRate, span.shipDate {
    color: #bbbbbb;
}

span.expShipRate {
    padding-right: 20px;
    
    font-size: .875em;
    font-weight: 600;
}
/*------- END SHIPPING SECTION -------*/

/*------- BEGIN ALT SHIPPING SECTION -------*/

div.altShippingContainer {
    width: 100%;
    margin-top: 5px;
}

div.shippingParent {
     clear:both;
    overflow:hidden;
}

div.altShippingParent {
/*    padding: 0 10px;*/
}

div.altShippingCheckboxParent {
    text-align: right;
}

input.altShipCheckbox {
    margin-left: 5px;
    margin-right: 10px;
}

label.altShippingCheckboxlabel {
    font-weight: 700;
}

form.altShippingAddress {
    text-align: left;
}


/*------- END ALT SHIPPING SECTION -------*/

/*------- BEGIN DISCOUNT & PROMOS CHECKBOX SECTION -------*/

div.checkboxDiscountContainer {
    margin: 10px 0;
}

div.checkboxDiscountParent {
    padding: 0 10px;
    
    text-align: right;
}

input.altDiscountCheckbox {
    margin-left: 5px;
    
    width: 20px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}

/*------- END DISCOUNT & PROMOS CHECKBOX SECTION -------*/

/*------- BEGIN BOTTOM PURCHASE SECTION -------*/

span.purchase-btn-label-large {
    display: table-cell;
    
    vertical-align: middle;
    
    text-align: center;
}


/*------- END BOTTOM PURCHASE SECTION -------*/

/*------- END PURCHASE PAGE -------*/

/***************************************/
/*------- BEGIN CONFIRMATION PAGE -------*/

/*------- BEGIN THANK YOU FOR ORDER -------*/

div.confirmThankYouParent {
    padding: 20px 10px 0;
}

div.thankYouParent {
    font-weight: 800;
    padding-bottom: 10px;
}

label.confirmThankYouLabel {
    font-size: 1.5em;
}

div.confirmEmailCopyParent {
    padding-bottom: 10px;
}

p.confirmEmailCopy {    
    font-size: .875em;
    font-weight:500;
}

span.confirmEmail {    
    font-weight:700;
}
/*------- END THANK YOU FOR ORDER -------*/

/*------- BEGIN ACCOUNT CREATE -------*/

div.confirmAccountParent {
    padding: 0 10px;
}

div.confirmLabelParent {
    margin-top: 10px;
    
}

/*------- END ACCOUNT CREATE -------*/

/*------- BEGIN DELIVERY ADDRESS -------*/

div.confirmDeliverParent {
    padding: 0 10px;
}

div.deliverLabelParent {
    padding-top: 5px; 
}

div.confirmLabelSpacer {
    padding-bottom: 10px;
}

label.confirmDeliverLabel{
    margin-top: 10px;
    
    font-weight: 800;
}

span.confirmDeliverAddress {
    color: red;
    font-weight: 800;
}

/*------- END DELIVERY ADDRESS -------*/

/*------- BEGIN PRODUCT CONTAINER -------*/
/*------- END PRODUCT CONTAINER -------*/

/*------- BEGIN ORDER TOTAL -------*/

div.confirmOrderParent {
    padding: 0 10px;
}

span.confirmSubTotal {
    float: right;
    
    text-align: right;
    font-weight: 800;
}

div.orderTotaleLabelParent {
    clear: both;
    
    font-weight: 800;
}

div.confirmPriceLabel {
    display: inline-block;
    margin-bottom: 10px;
    
    text-align: right;
    line-height: 1.12em;
}

span.priceLabel {
    display: block;
    padding-left: 100px;
    
    color: #b2b2b2;
    font-size:.9em;
    font-weight: 500;
}

div.confirmNumberParent {
    display: inline-block;
    text-align: left;
    
    line-height: 1.12em;
}

span.priceNumber {
    display: block;
    padding-left: 10px;
    
    color: #b2b2b2;
    font-size:.9em;
    font-weight: 500;
}

span.grandTotal{
    color: black;
    font-weight: 800;
}

a.callNowColor {
    background-color: blue;
}
/*------- END ORDER TOTAL -------*/

/*------- BEGIN CONTINUE SHOPPING -------*/

span.fa.fa-shopping-cart.fa-2x {
    display: table-cell;
    padding-left: .375em;
    
    vertical-align: middle;
}

/*------- END CONTINUE SHOPPING -------*/

/*------- BEGIN MADE A MISTAKE -------*/

div.btmCallNowParent {
    padding: 0 10px 10px;
}

span.fa.fa-phone.fa-2x {
    display: table-cell;
    padding-left: .375em;
    
    vertical-align: middle;
}

/*------- END MADE A MISTAKE -------*/

/*------- END CONFIRMATION PAGE -------*/




/***************************************/
/*------- BEGIN MEDIA QUERIES -------*/


    
/*-------  BEGIN MEDIA QUERIES CART -------*/
@media (max-width: 768px) {
    
    .toy-experts_cart-wrap {
        padding: 5px 20px;
        text-align: right;
    }
    
    .checkoutNavLink-wrap {
        padding: 5px 10px 10px;
    }
}

@media only screen and (max-width: 380px) {
    a.checkout-btn {
        width: 12em;
    }
    
    span.checkout-btn-label {
        font-size: .9em;
    }
    
    p.dropbtnLabel {
        font-size: .95em;
    }

    span.productTotalNotes {
        font-size: 10px;
    }
}
/*-------  END MEDIA QUERIES CART -------*/

/*-------  BEGIN MEDIA QUERIES CHECKOUT -------*/

@media only screen and (max-width: 380px) {
    span.expDropbtnLabel {
        padding-right: 10px;
    }
    
    span.expShipTime{
        font-size:12px;
    }
    
    span.productTotalNotes {
        font-size: 10px;
    }
}
/*-------  BEGIN MEDIA QUERIES CHECKOUT -------*/

@media only screen and (max-width: 360px) {
   
    a.checkout-btn {
        width: 11em;
    }
    
    span.checkout-btn-label {
        font-size: .8em;
    }
    
    p.dropbtnLabel {
        font-size: .9em;
    }
    
    .cc-parent {
/*        width: 360px;*/
    }
    
     .card_exp {
        display: block;
      
    }
    
    .card_cvv {
        display: block;
        padding-top: 5px;
        
    }
    
     .dropdown-checkout {
        padding: 0 0;
    }
    
    form.couponForm {
    margin-top: 0 auto;
    
}
    
    .dropdown-content {
        margin-top: 0 auto;
    }
    
}

@media only screen and (max-width: 340px) {
    
   
    
    form.couponForm {
        text-align: center;
         margin-top: 0 auto;
    }
    
    form.couponForm input {
        display:block;
        margin: 0 auto;
        float: none;
        text-align: center;
    }
   
    a.checkout-btn {
        width: 9.5em;
    }
   
    .expDropbtnLabelParent {
/*        width:200px;*/
    }
    
    .expDropbtn {
       height: 67px;
    }
    
    .product-btn-cart {
        width:80px;
        margin: 0 atuo;
/*
        padding-left: 20px;
        padding-top: 10px;
*/
        padding-bottom: 10px;
    }
    
    span.checkout-btn-label {
        font-size: 1em;
        text-align: center;
    }
    
    p.dropbtnLabel {
        font-size: 1em;
    }
    
    span.expShipTime{
        display: block;
/*        padding-left: 10px;*/
    }
    
}


/*------- END MEDIA QUERIES -------*/







