.nav-r1-right-label,
.nav-r1-right-cart,
.cart-qty, 
.nav-r2-right li a,
.nav-r3-tab,
.nav-r3-tab-li-a,
.dropdown-menu-large .dropdown-header,
.breadcrumb_fbt li a  {
    font-family: 'Exo 2', sans-serif;
}

.nav-r1-left-ship,
.nav-r1-right-number { 
    font-family: 'Roboto Slab', serif, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.nav-r3-tab-p,
.dropdown-btn-fbt,
{
    font-family: 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif;
}


html,
body {
    height: 100%;
    }

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #ffffff;
}

.container_fbt {
    margin-bottom: 80px;
}

/* Wrapper for page content to push down footer */

#wrap {
    min-height: calc(100vh - 508px)!important;
    
    /* Negative indent footer by its height */
    margin: 0 auto 0px;
    /* Pad bottom by footer height */
    padding: 0 0 0px;
}

.divider {
    height: 50px;
}

.panel {
    border-width: 0;
}

.img-responsive {
    margin: 0 auto;
}

.breadcrumb_fbt {
    background-color: #ffffff;
    margin-bottom: 0px;
}

.breadcrumb_fbt li a,
.breadcrumb_fbt li i {
    font-size: 1em;
    font-weight: 400;
    color: #b9bbbd;
}

/*
section {
    color: #ffffff;
    min-height: 400px;
    height: auto !important;
    height: 100%;
    padding-top: 100px;
}
*/

/*---------- NAV BAR ----------*/

/*---------- NAV GENERAL ----------*/

.nav-r1-container,
.nav-r1-r2-container,
.nav-r2-container,
.nav-r3-container,
.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-right{
    margin-right: 0px;
}

.navbar {
    margin-bottom: 0px;
}

/*---------- /NAV GENERAL ----------*/

/*---------- NAV BAR ROW 1 ----------*/

.nav-r1-container {
    background:#f4f7f9; 
}

.nav-r1-wrap,
.nav-r1-wrap>div{
    padding: 0px;
}

.nav-r1-left-ship img {
    padding-right: 10px;
    
    margin-bottom: 5px;
}

.nav-r1-left-ship{
    padding-left:114px!important;
    
    font-size: 1.2em;
    font-weight: 300;
    
    color: #404041;
}

.nav-r1-left-ship-bold {
    font-weight: 600;
    color: #f6333c;
    text-transform: uppercase;
}

.nav-r1-left-ship-bold:hover {
    text-decoration: underline;
}

.nav-r1-left-ship-2 {
   
    padding-left: 0px!important;
}


.nav-r1-right li {
    height:35px;
}

.nav-r1-right li a{
    vertical-align: middle;
    
    line-height: 35px;
    text-transform: uppercase;
}

.nav-r1-right {
    display: inline-block;
    height: 35px;
    margin-bottom: 0px;
}

.nav-r1-right a:hover,
     .nav-r1-right a:active,
     .nav-r1-right a:focus { 
        background-color: #f4f7f9!important;
        color: black;
         
        text-decoration: underline!important;
     }

.nav-r1-right-label {
    font-size: 1em;
    font-weight:700;
}

.collapse-sign-in {
    display: none;
}

.nav-r1-right-label img {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.nav-r1-right-label-a{
    padding-left:40px!important;
    padding-right: 40px!important;
    
    color: #404041;
}

.nav-r1-right-label-a-small {
    display: none;
}

.nav-r1-right-label-b{
    padding-left:23px!important;
    padding-right: 23px!important;
    
    color: #f6333c;
    text-decoration: underline;
}

.nav-r1-right-number {
    padding-left:40px!important;
    padding-right: 40px!important;
    
    font-size: 1.6em;
    font-weight: 800;
    
    color: #404041;
}

.nav-r1-right-cart-link:hover,
.nav-r1-right-cart:hover {
    text-decoration: underline!important;
}

.nav-r1-right-cart-glyph {
    padding: 9px 11px;
    
    font-size: 1.1em;
    color:#ffffff;    
}

.nav-r1-right-cart{
    padding: 9px 9px;
    
    font-size: 1.1em;
    font-weight:500;
    color:#ffffff;
    text-transform: uppercase;
}

.cart-wrap {
    width: 170px;
    height: 35px;
    background:#404041;
}

.collapse-cart-wrap {
    display: none;
}

.nav-r1-col-xs {
    display: none;
}


.cart-container {
     width: 40px; 
    height: 35px; 
    background:#f6333c;
    
    text-align: center;
}

.cart-qty{
    padding: 9px 9px;
    
    font-size: 1.1em;
    font-weight:500;
    line-height: 35px;
    color:#ffffff;
    text-transform: uppercase;
}

.nav-delivery {
    display:inline-block;
    margin-bottom: 0px;
    }

.nav-delivery-2 {
    display: none;
    border-bottom: 1px solid #eeeeee;
}

.nav-delivery li a{
    display: block;
    height: 35px;
    padding-top: 6px!important;
}

/*---------- /NAV BAR ROW 1 ----------*/


/*---------- NAV BAR ROW 2 ----------*/

.nav-r2-container {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #eeeeee;

    background-color: #58595b;
}

.nav-r2-col,
.nav-r3-col {
    padding-right:0px;
    padding-left:0px;
}

.nav-r2-right li {
    height:72px;
}

.nav-r2-right li a{
    height:72px;
    
    padding-left: 14px;
    padding-right: 31px;
    
    font-size: 1.25em;
    font-weight:300;
    color: #b9bbbd!important;
    line-height: 44px;
    text-transform: uppercase;
}

.nav-r2-divider-sm {
    border-bottom: none; 
}

.search-bar{
    position: absolute;
    left: 468px;
    right: 550px;
}

.search-bar-form-group{
    display:inline!important;
}

.search-bar-input-group {
     padding-top: 6px!important;
}

.search-width{
    width: 1%!important;
}

.search-bar-button {
    padding: 6px 9px;
    
    background-color: #ffdb4a;
    
    font-size: 24px;
    color:#ffffff!important;
}

.search-bar-button,
.search-bar-field {
    color: #b9bbbd;
    border: 2px solid  #b9bbbd;
}

.search-height {
    height: 44px;
    
    border-radius: 0px;
}

::-webkit-input-placeholder {
   font-family: 'Exo 2', sans-serif!important;
    font-size: 1.25em!important;
    font-weight: 300!important;
    color: #b9bbbd!important;
}

:-moz-placeholder { /* Firefox 18- */
     font-family: 'Exo 2', sans-serif!important;
    font-size: 1.25em!important;
    font-weight: 300!important;
    color: #b9bbbd!important;
}
::-moz-placeholder {  /* Firefox 19+ */
      font-family: 'Exo 2', sans-serif!important;
    font-size: 1.25em!important;
    font-weight: 300!important;
    color: #b9bbbd!important;
}

.nav-r2-list-divider {
    border-right: 1px solid #b9bbbd;
}

  .nav-r2-right>li>a:hover,
     .nav-r2-right>li>a:active,
     .nav-r2-right>li>a:focus { 
         color: #ffdb4a!important;
     }
        

/*-------GIFT BOT TAB -------*/

.giftbot,
.invented-here {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.giftbot span {
    display: inline-block;
    
    width: 84px;
    height: 78px;
        
    background: url(../images/robot_1.png) no-repeat center;
    background-position: 29% 27%;
   
    
    vertical-align: middle;
}

.giftbot span:hover{
    width: 84px;
    height: 78px;
    
    background: url(../images/robot_2.png) no-repeat center;
    background-position: 29% 27%;
}
/*------- /GIFT BOT TAB -------*/

/*-------INVENTED HERE TAB -------*/

.invented-here span {
    display: inline-block;
    width: 52px;
    height: 78px;
        
    background: url(../images/pin_1.png) no-repeat center;
    
    vertical-align: middle;
}

.invented-here:hover span{
    display: inline-block;
    background: url(../images/pin_2.png) no-repeat center;
    width: 52px;
    height: 78px;
}
/*-------END INVENTED HERE TAB -------*/

/*---------- /NAV BAR ROW 2 ----------*/

/*---------- NAV BAR ROW 3 ----------*/

.navbar-collapse {
    border-top: 0px;
}

.nav-r3-collapse {
    background-color: #ffffff;
}

.nav-r3-collapse ul {
    padding-right: 12%;
    padding-left: 12%;
}

.nav-r3-divider-lg {
    border-top: 9px solid #5ad9ff!important; 
}


.nav-r3-tab {
    font-size: 1.25em;
    font-weight: 700;
    color: #58595b!important;
}


.nav-r3-tab-li-a{
    font-size: 1.25em;
    font-weight: 700;
    color: #58595b!important;   
}

.nav-r3-hr {
    margin-bottom: 5px; 
    border-top: 1px solid #eeeeee;
}

.nav-r3-tab-p {
    margin-top: 20px;
    font-size: 1.2em;
    color: #404041;
}

.nav-r3-tab-p a {
    font-weight: 600;
    color: #404041;
    
    text-decoration: underline;
}

.header-bottom-nav {
    display: none;
}

 .nav-r3>li:hover,
     .nav-r3>li:active,
     .nav-r3>li:focus { 
         background-color: #eeeeee;
     }

/*---------- NAV BAR ROW 3 ----------*/

.navbar-header {
    height: 72px;
}

.navbar-brand {
  padding: 2px;
    padding-left: 10px;
}

.navbar-brand>img {
    margin-top: 4px;
    width: auto;
    height: 170%;
}

.navbar-toggle {
    margin-right: 10px;
    
    height: 40px;
    padding-top: 8px;   
    padding-bottom: 0px;
    
   
    padding: 8px 11px;
    border-radius: 0px;
    
    outline: 0;  
}

.icon-bar {
    margin-bottom: 6px;
    
    width: 34px!important;
    height: 4px!important;
    
    background-color: #404041!important;
}

.navbar-inverse .navbar-toggle {
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
    background-color: #ffdb4a;
}

.navbar-inverse .navbar-toggle {
    background-color: #ffdb4a;
    border: none;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #eeeeee!important;
    border: none;
}

.nav-logo-lg {
    position: absolute;
    z-index: 999;
    
    top: -13px;
    left: 15px;
    
    margin-left: 0px!important;

    height: 107px;
    width: 436px;
    
    background: url("../images/FBT_logo_yuge.png") no-repeat  center;
    background-position: 30% 20%;
    background-size: 100%;
}

#topNav {
    z-index: 999;
}

#nav {
    width: 100%;
}

/*---------- Dropdown ----------*/

.dropdown-large {
  position: static !important;
}
.dropdown-menu-r3 {
    padding: 20px 0px;
    width: 98%;
    
    left: 50%;
    transform: translateX(-50%);
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 0px;
  clear: both;
  font-weight:300;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}

.dropdown-menu-large .dropdown-header {
    padding: 3px 0px !important;
    
    font-size: 1.5em!important;
    font-weight: 600!important;
     color: #428bca!important;
}

.header-dropdown-menu {
    width: 100%;
    border: none;
    
    border-radius: 0;
    
    background-color: transparent;
    list-style: none;

    color: #ffffff;
    box-shadow:none;
}


.dropdown-menu > li {
/*    background-color: #f24c22;*/
    background-image: none;
}

.dropdown-menu > li:hover,
.dropdown-menu > li:active,
.dropdown-menu > li:focus {
    background-color: transparent;
    color: #ffffff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:active,
.dropdown-menu > li > a:focus {
    background-color:rgba(0,0,0,0.6);
    color: #ffffff;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #eeeeee;
}

/*-- change navbar dropdown color --*/
.header-dropdown-menu li a {
    padding: 10px 20px;
    color:#ffffff;
  }

.dropdwon-menu-mega {
    padding-top: 10px!important;
    
    background-color: #ffffff!important;
    border: 1px solid #eeeeee;
    border-radius: 0!important;
}

.dropdown-btn-fbt {
    background-color: #404041;
     border:  1px solid  #404041;
    
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}

.dropdown-btn-fbt:hover,
.dropdown-btn-fbt:active,
.dropdown-btn-fbt:focus {
    background: #000000;
    border: 1px solid #f7f7f7;
    
    font-weight: 400;
    color: #ffffff;
}

  
/*---------- /Dropdown ----------*/


/*---------- /NAV BAR ----------*/

/*---------- PRODUCT SLIDER ----------*/
.product-slider {
    
}

/*---------- /PRODUCT SLIDER ----------*/


/*--------- PRODUCT CATALOG PARALLAX SECTION ---------*/

.product-catalog-parallax-section {
    color: #b1b3b5;
    min-height: 200px;
    height: auto !important;
    height: 100%;
}

.parallax-window {
    min-height: 420px;
    background: transparent;
}

.parallax-container {
    padding-left: 0px;
    padding-right: 0px;
}


.product-catalog-parallax-header {
    margin-top: 40px;
    margin-bottom: 10px;
    padding-left: 0;
    
    font-family: 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 4.5em;
    font-weight: 600;
    
    color: #ffffff;
    
    line-height: 1em;
    
}

ul.nav li.dropdown:hover ul.dropdown-menu { 
	display: block; 
	}

/*--------- /PRODUCT CATALOG PARALLAX SECTION ---------*/
 

.scroll-top {
    display:none;
    position: fixed;
    bottom: 0;
    right: 6%;
    z-index: 8000;
/*    background: #f2f3f2;*/
    background: rgba(242, 243, 242, .6);
    font-size: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.scroll-top a:link,
.scroll-top a:visited {
    color: #222;
}


@media (max-width: 767px) {
    .container_fbt {
    margin-bottom: 40px;
}
}
