.sku-number, 
.original-price,
.current-price,
.product-rating,
.rating-badge,
.product-tab-container,
.order-next,
.review-overview-h4,
.progress-p,
.tab-content-wrap,
.tabs-content-container h3,
.product-tab-container h3{
        font-family: 'Exo 2', sans-serif;
}

.product-label {
    font-family: 'Roboto Slab', serif, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.reviews-container,
.short-product-p,
.options-container h3,
.product-social-container label,
.add-to-cart-btn,
.review-summary-container p,
.write-rev-btn,
.in-stock-main,
.product-price {
    font-family: 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.pad-l-r-0 {
    padding-left: 0px;
    padding-right: 0px;
}


/*----- PRODUCT HERo CAROUSEL -----*/

.product-container {
    padding-left: 0px;
    padding-right: 0px;
}

.product-container-left {
    padding-left: 20px;
}

.product-container div {
    padding-left: 0px;
    padding-right: 0px;
}


.zoom:hover {cursor:zoom-out;}

.zoomed{
    cursor:zoom-in !important;
}

.mag-icon {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;

    z-index: 100;
    font-size: 1.2em;
    color: rgba(230,230,230,0.7);
}

/*----- /PRODUCT HERO CAROUSEL -----*/

/*----- PRODUCT SHOP SECTION -----*/
.sku-number {
    margin: 0px;
    font-size: 1.1em;
    font-weight:500;
    color:#58595b;
    text-transform: uppercase;
}

.in-stock {
    margin: 0px;
    font-size: .8em;
    font-weight:400;
    color:#58595b;
}

.product-label {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 2em;
    font-weight: 600;
    line-height: 1.1em;
}

.original-price {
    margin: 0px;
    
    text-decoration: line-through;
    color:#c0c0c0;
}

.current-price {
    margin-top: 5px;
    margin-bottom: 10px;
    
    font-size: 2em;
    font-weight: 600;
    color: #3f5383;
}

.product-rating {
    margin-right: 5px;
    
    font-size: 1em;
    font-weight: 600;
    color: #404041;
}

.rating-divider {
    margin-right: 5px;
    border-right: 1px solid black;
}

.rating-badge {
    background: #404041;
    
    font-weight: 600;
    color: #ffffff;
}

.short-product-p {
    font-size: 1em;
    font-weight: 300;
    
    color: #404041;
}

.options-container {
    padding: 15px!important;
    border: 1px solid #c0c0c0;
}

.options-container h3 {
    margin-top: 5px;
    margin-bottom: 2px;
    
    font-size: 1.3em;
    font-weight: 400;
    
    color: #414042;
}

.options-wrap {
    margin-bottom: 10px;
    padding: 0px;
}

.options-wrap .input-group {
    max-width: 120px;
}

.options-wrap .input-group-btn {
    border-radius: 0px;
}

.swatches {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    
    border: 1px solid #c0c0c0;
    border-radius: 0px;
    
    
    background-color: #000000;
}

.btn.active,
.btn.active.focus {
    outline: 0px;
}

.btn span.select-line {    			
	opacity: 0;	
    
    position:absolute;
    
    left: -1px;
    bottom: -8px;
    
    width: 40px;
    height: 3px;
    
    background-color: #000000;
}

.btn.active span.select-line {				
	opacity: 1;
      
}

.input-number {
    padding-left: 0px;
    padding-right: 0px;
    
    text-align: center;
}

.add-btn {
    border-radius: 0px!important;
}

.av-options-img {
   border: 1px solid #c0c0c0; 
}

.av-options-main {
    font-size: .8em;
    color: #000000;
}

.in-stock-main {
    font-weight: 400;
    line-height: 40px;
    color: #c0c0c0;
}

.product-price {
    font-weight: 600;
    line-height: 40px;
}

.gift-bag {
    margin-bottom: 0px;
}

.order-next {
    margin-top: 10px;
    
    font-size: 1.2em;
    font-weight:600;
    color:#58595b;
}

.add-to-cart-container {
    padding-left: 0px;
    padding-right: 0px;
}

#sticky {
    padding: 5px 5px;
}

.stick {
    position:fixed;
    z-index: 100;
    top:0;
    left:0px;
    background: #ffffff;
    width: 100%;
}

.add-to-cart-btn {
    height: 45px;
        width: 80%;
    min-width: 150px;
    
    background-color: #f6333c;
    border-radius: 0px;
    
    font-size: 1.2em;
    font-weight: 400;
    
    color: #ffffff;
    text-transform: uppercase;
}

.add-to-cart-btn:hover,
.add-to-cart-btn:active,
.add-to-cart-btn:focus{
    
    background: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.favorite-heart-btn {
    
    height: 45px;
    margin-left: 5px;
    
    padding-left: 0px;
    padding-right: 0px;
    
    background-color: #ffffff;
    border: 2px solid #f6333c;
    border-radius: 0px;
    
    font-size: 1.8em;
    text-align: center;
    color: #f6333c;
}

.favorite-heart-btn:hover,
.favorite-heart-btn:focus,
.favorite-heart-btn:active {
    background: #000000;
    border: 2px solid #ffffff;
    
    color: #ffffff;
}

.product-social-container {
    height: 60px;
}

.product-social-container label {
    margin-top: 2px;
    margin-bottom: 0px;
    
    font-size: 1em;
    font-weight: 400;
    
    color: #414042;
}

.product-social {
    margin-bottom: 0px;
}

.product-social li{
    border: 0px;
    
/*
    padding-top: 5px;
    padding-bottom: 5px;    
*/
}

.product-social li a {
    width: 25px;
    height: 25px;
    border-radius: 0px;
    
    text-align: center;
    color: #404041;
    
    padding: 0px;
    
}

.product-social li a:active,
.product-social li a:hover,
.product-social li a:focus {
    background: #404041;
     color: #ffffff;
}

.product-social li a i {
    line-height: 25px;
}
/*----- /PRODUCT SHOP SECTION -----*/

/*----- TAB SECTION -------*/

.product-tab-container {
    margin-top:15px;
}

.product-tab-container,
.product-tab-container .panel-heading {
    background: #336589;
    
    border-radius: 0px;
}

.tabs-content-container h3,
.product-tab-container h3{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
    color: #3c6997;
}

.product-tab-container .panel {
    border-radius: 0px;
}

.product-tab-container .panel-body {
    background: #ffffff;
}

.product-tab-container a {
    margin: 0px !important;
    border: 0px!important;
    border-radius: 0px!important;
    
    color: #ffffff;
}

.product-tab-container a:active,
.product-tab-container a:hover,
.product-tab-container a:focus{
    
    color: #58595b;
}

.tab-content-wrap {
    margin: 10px 0px 20px;
    min-height: 200px;
}

/*----- /TAB SECTION -------*/

/*----- REVIEW TAB -------*/

.review-overview-container {
    
    padding: 15px 0px;
    
/*    min-height: 240px;*/
    
    background: #f7f7f7;
}

.review-progress-wrap {
    margin-bottom: 15px;
}

.review-overview-h4 {
    margin-top: 0px;
    
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    color:#414042;
}

.progress-fbt {
    height:9px;
    margin:8px 0;
    border-radius: 0px;
    
    background-color: #e9e9e9;
}

.progress-bar-fbt {
    background-color: #000000;
}

.rev-progress-number {
    height:9px;
    margin:5px 0;
    
    font-weight: 500;
    color: #58595b;
}

.rev-progress-number span {
    font-size: .8em;
}

.rev-progress-qty {
    margin-left:10px;
    
    font-weight: 500;
    color: #58595b;
}

.review-summary-container p {
   
    font-size: 1em;
    font-weight: 600;
    
    color: #404041;
}

.rating-sum-result {
    padding-left: 10px;
    font-weight: 400;
}

.review-write-container {
    padding-bottom: 15px;
}

.review-write-container button {
    margin: 15px 0px 0px;
}

.write-rev-btn {
    background-color: #404041;
     border:  1px solid  #404041;
    
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
}

.write-rev-btn:hover,
.write-rev-btn:active,
.write-rev-btn:focus {
    background: #000000;
    border: 1px solid #f7f7f7;
    
    font-weight: 300;
    color: #ffffff;
}

.reviews-wrapper {
    margin-top: 10px;
    height: 500px;
    overflow-y: scroll;
}

.reviews-container {
/*    margin: 15px 0px;*/
    
/*    min-height: 240px;*/
    
    background: #ffffff;
}

.reviews-wrap {
    padding: 20px 33px;
    min-height: 140px;
    border-bottom: 1px solid #e6e7e8;
    
    background: #ffffff;
}

.review-info {
    border-right: 1px solid #d1d3d4;
}

.review-info h4{
    font-weight: 600;
}

.review-info p{
    font-size: .9em;
    line-height: 1.2em;
    color: #808285;
}

.review-report-wrap {
    max-width: 410px;
    min-height: 32px;
    background: #f1f2f2;
    margin-bottom: 15px;
    
    text-align: left;
}

.review-report-wrap span{
    padding-right: 10px; 
    
    font-size: .9em;
    font-weight: 300;
    line-height: 32px;
    color: #a7a9ac;
}

/*
.helpful-review {
    padding-right: 10px;
}
*/

.report-abuse {
    word-break: keep-all;
}

.see-all-reviews {
    margin: 10px 0px 10px;
}

/*----- /REVIEW TAB -------*/

/*----- REVIEW MODAL -----*/

.review-modal-divider {
    margin: 15px 0px;
    border-bottom: 1px solid #e5e5e5;
}

/*----- /REVIEW MODAL -----*/

/*----- MEDIA QUERIES -------*/
@media (max-width: 991px) {
    .product-container-left {
    padding-left: 0px;
    }
    
    .product-tab-container  {
        margin-top: 40px;
    }
}


@media (max-width: 767px) {
    .product-tab-container  {
        margin-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
                
        background-color: #ffffff;
    }
    
    .product-tab-container a:active,
.product-tab-container a:hover,
.product-tab-container a:focus{
    
    color: #ffffff;
}

    .product-tab-container .panel-group {
        margin-bottom: 5px;
    }
    
    .reviews-container {
    margin: 15px 0px;
    }
    
    .reviews-wrap {
        padding: 0px;
    }
    
    .review-info {
        border-right: 0px;
}
    
    .review-report-container {        
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .review-report-wrap {
        height: 40px;
    }
    
    .review-report-wrap span{
        
    padding: 0px 10px;
        
        
    line-height: .7em;
}
    
    
}

@media (max-width: 475px){
    
    .av-options-main {
    font-size: .6em;
}
}

@media (max-width: 352px){
    
    .rating-container .caption {
       margin-top: .6em!important;
        
    }
}

