.filter-toggle-label-fbt,
.product-list-price h3 {
    font-family: 'Exo 2', sans-serif;
}

.product-catalog-label {
    
    font-family: 'Roboto Slab', serif, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.filter-button,
.info-btn,
.add-to-cart-btn-fbt,
.filter-lister-group-fbt,
.filter-see-more-less {
    font-family: 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.pad-l-r-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.marg-btm-10  {
    margin-bottom: 10px;
}



/*----- Left Filter Panel -----*/

.left-filter-panel-container {
    height: 100%; 
/*    margin-bottom: 100%;*/
}
            
.filter-button {
    position: relative;
    display: block;
    margin-right: 0px;
    margin-bottom: 0;
    padding: 6px 12px;
    width: 100%;
    background-color: #aaa9ac;

    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    
    font-weight: 600;
    text-align: left;
    font-size: 1.2em;
    color: #f1f1f1;
    text-transform: uppercase;
}

#filters-wrap {
    background:#f1f1f1; 
    width: 100%; 
    clear: both; 
    padding: 0px 0px 10px; 
    max-height: none;
}

.filters-content .panel-collapse,
.filters-content .list-group-item,
.filter-panel-heading-fbt {
    background:#f1f1f1!important;
    border: 0px;
}

.filter-toggle-label-fbt {
    font-weight: 600;
}

.filter-toggle-label-fbt:hover {
    text-decoration: none;
}

.filter-see-more-less{
    padding: 10px 15px!important;
    
    font-size: 1em;
    font-weight: 600;
    color: #414042;
}

.filter-lister-group-fbt .list-group-item {
    padding: 5px 15px!important;
    font-size: .9em;
    font-weight: 400;
    line-height: 1.13em;
}

.filter-lister-group-fbt .list-group-item a {
    color: #414042; 
}

.filter-badge {
    font-size: .8em;
    background: #f7333c;
}

 ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }

.filter-scroll-fbt  {
    overflow-y: scroll;
    height: 7.4em;
}

.panel-group .panel + .panel {
    overflow: hidden;
    margin-top: 5px;
    background: #f1f1f1!important;
}


/*----- /Left Filter Panel -----*/

/*----- /TOOLBAR -----*/

.toolbar {
    position: relative;
    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 18px;
    border: 1px solid transparent;
    background-color: #fff;
    border-color: #e6e6e6;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    color: #787878;
    border-width: 1px 0px;
}

.toolbar a {
    color: #666;
}

.toolbar .navbar-form {
    margin-right: 0px;
    
        padding-right: 15px;
    padding-left: 0px;
}

.pages > .pagination {
    margin: 0px !important;
    display: block;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    background-color: #444;
    border-color: #444;
    cursor: default;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.toolbar select {
    display: inline-block;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
}

select {
    display: block;
    width: 100%;
    height: 32px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease;
    -moz-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease;
    -ms-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease;
    -o-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease;
    transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease;
}

/*----- TOOLBAR -----*/

/*----- PRODUCT LIST GRID -----*/

.product-list-row-fbt {
    padding-left: 0px;
}

.item {
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
}

.thumbnail-border-fbt {
    border:1px solid #e5e6e7;
}

.product-page-thumbnail {
    min-height: 100%!important;
    margin-bottom: 0px;
    padding: 10px;
    border: 0px;
}

.product-page-thumbnail img {
    margin: 0px;
    padding: 10px 10px 0;
}

.product-caption {
/*
    position: absolute; 
    bottom: 30px; 
    left: 0; 
    right: 0;
*/
    padding: 10px;
    
    vertical-align: bottom;
}

.product-price-wrap {
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
}

.product-label-wrap {
    display: table;
    height: 72px;
}
 
.product-catalog-label {
/*    max-width: 215px;*/
    
    display: table-cell;
    vertical-align: bottom;
    
    margin-top: 0px!important; 
    
    font-size: 1.3em;
    font-weight:700;
    text-align: left;
    
    word-wrap:break-word;
    
    color: #414042;
/*    text-transform: uppercase;*/
}

.product-list-price {
    padding-left: 0px;
    padding-right: 0px;
}

.product-list-price h3{
    margin-top: 16px;
    margin-bottom: 0px;
    
    font-size: 1.8em;
    font-weight: 600;
    line-height: 1.1em;
    color:#3c6996;
}

.product-slider-review i{
    color: #ffdc4a;
}

.info-btn { 
    width: 49%;
    height: 40px;
    padding: 0px;
    background: #ffffff;
    border-color: #f7333c;
    border-radius:0;
    
    font-size: 1em;
    font-weight:700;
    line-height: 38px;
    color: #f7333c;
    text-transform: uppercase;
}

.add-to-cart-btn-fbt {
    width: 49%;
    height: 40px;
    padding: 0px;
    background: #f7333c;
    border-color: #f7333c;
    border-radius:0;
    
    font-size: 1em;
    font-weight:700;
    line-height: 38px;
    color: #ffffff;
    text-transform: uppercase;
}

.add-to-cart-btn-fbt:hover,
.add-to-cart-btn-fbt:active, 
.add-to-cart-btn-fbt:focus,
.info-btn:hover,
.info-btn:active, 
.info-btn:focus{
    background-color: #404041;
     border-radius:0;
    
    
    color: #ffffff;
    text-transform: uppercase;
}

 {
    background-color: #f7333c;
     border-radius:0;
    
    
    color: #ffffff;
    text-transform: uppercase;
}

/*----- /PRODUCT LIST GRID -----*/


/*----- MEDIA QUERIES -----*/


@media (min-width: 992px) {
    .toolbar {
        border-radius: 0px;
        }
    }



@media (max-width: 768px) {
    .product-list-container {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    
    .left-filter-panel-container {
        height: 100%; 
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .product-page-thumbnail {
        min-height: 100%!important;
    }
}

   @media (min-width:768px) and (max-width: 1789px){
   .product-catalog-label {
/*    max-width: 215px;*/
    
    display: table-cell;
    vertical-align: bottom;
    
    margin-top: 0px!important; 
    
    font-size: 1.1em;
    font-weight:700;
    text-align: left;
    
    word-wrap:break-word;
    
    color: #414042;
/*    text-transform: uppercase;*/
}
}

@media (max-width: 1031px){
.navbar-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    float: left!important;
    padding-right: 10px;
    padding-left: 0px;
}
}

