html,
body {
    height: 100%;
/*    padding-top: 50px;*/
    }

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #ffffff;
}

/* Wrapper for page content to push down footer */

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto 0px;
    /* Pad bottom by footer height */
    padding: 0 0 0px;
}

.divider {
    height: 50px;
}

.panel {
    border-width: 0;
}

.img-responsive {
    margin: 0 auto;
}

/*
section {
    color: #ffffff;
    min-height: 400px;
    height: auto !important;
    height: 100%;
    padding-top: 100px;
}
*/

/*---------- NAV BAR ----------*/

/*---------- NAV GENERAL ----------*/

.nav-r1-container,
.nav-r1-r2-container,
.nav-r2-container,
.nav-r3-container,
.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-right{
    margin-right: 0px;
}

.navbar {
    margin-bottom: 0px;
}

/*---------- /NAV GENERAL ----------*/

/*---------- NAV BAR ROW 1 ----------*/

.nav-r1-container {
    height: 35px;
    background:#f4f7f9;
    
}

.nav-r1-wrap,
.nav-r1-wrap>div{
    padding: 0px;
}

.nav-r1-left-ship img {
    padding-right: 10px;
    
    margin-bottom: 5px;
}

.nav-r1-left-ship{
    padding-left:114px!important;
/*    padding-right: 40px!important;*/
    
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
    font-weight: 300;
    
    color: #404041;
}

.nav-r1-left-ship-bold {
    
    font-weight: 600;
    
    color: #f6333c;
}

.nav-r1-left-ship-bold:hover {
    
    text-decoration: underline;
}


.nav-r1-right li {
    height:35px;
}

.nav-r1-right li a{
    height:35px;
    
    padding-top: 8px;
    padding-bottom: 8px;
    
    text-transform: uppercase;
}

.nav-r1-right a:hover,
     .nav-r1-right a:active,
     .nav-r1-right a:focus { 
        
         background-color: #f4f7f9!important;
          color: black;
         
         text-decoration: underline!important;
     }


.nav-r1-right-label {
    font-family: 'Exo 2', sans-serif;
    font-size: 1em;
    font-weight:700;
}

.nav-r1-right-label img {
    padding-left: 10px;
    padding-right: 10px;
    
    margin-bottom: 5px;
}

.nav-r1-right-label-a{
    padding-left:40px!important;
    padding-right: 40px!important;
    
    color: #404041;
}

.nav-r1-right-label-b{
    padding-left:23px!important;
    padding-right: 23px!important;
    
    color: #f6333c;
    text-decoration: underline;
}

.nav-r1-right-number{
    padding-left:40px!important;
    padding-right: 40px!important;
    
    font-family: 'Roboto Slab', serif;
    font-size: 1.6em;
    font-weight: 800;
    
    color: #404041;
}

.nav-r1-right-cart-link:hover,
.nav-r1-right-cart:hover {
    text-decoration: underline!important;
}

.nav-r1-right-cart-glyph {
    padding: 9px 11px;
    
    font-size: 1.1em;
    
    color:#ffffff;    
}

.nav-r1-right-cart{
    padding: 9px 9px;
    
    font-family: 'Exo 2', sans-serif;
    font-size: 1.1em;
    font-weight:500;
    
    color:#ffffff;
    
    text-transform: uppercase;
}

.cart-wrap {
    width: 170px;
    height: 35px;
    
    background:#404041;
}

.cart-container {
     width: 40px; 
    height: 35px; 
    
    background:#f6333c;
}

.cart-qty{
    padding: 9px 9px;
    
    font-family: 'Exo 2', sans-serif;
    font-size: 1.1em;
    font-weight:500;
    
    line-height: 35px;
    
    color:#ffffff;
    
    text-transform: uppercase;
}



/*---------- /NAV BAR ROW 1 ----------*/


/*---------- NAV BAR ROW 2 ----------*/

.nav-r2-container {
    border: none;
    border-radius: 0px;
    
    background-color: #58595b;
}

.nav-r2-col,
.nav-r3-col {
    padding-right:0px;
    padding-left:0px;
}

.nav-r2-right li {
    height:72px;
}

.nav-r2-right li a{
    height:72px;
    
    padding-left: 23px;
    padding-right: 23px;
    
    font-family: 'Exo 2', sans-serif;
    font-size: 1.25em;
    font-weight:300;
    color: #b9bbbd!important;
    
    line-height: 44px;
    
    text-transform: uppercase;
}

.nav-r2-divider-sm {
    border-bottom: none; 
}

.search-bar-form-group{
    display:inline!important;
}

.search-bar-input-group {
     padding-top: 6px!important;
}

.search-width{
    width: 1%!important;
}

.search-bar-button {
    padding: 6px 9px;
    font-size: 24px;
}

.search-bar-button,
.search-bar-field {
    color: #b9bbbd;
    border: 2px solid  #b9bbbd;
}

.search-height {
/*    margin-top: 6px;*/
    
    height: 44px;
    
    border-radius: 0px;
}

.nav-r2-list-divider {
    border-right: 1px solid #b9bbbd;
}

  .nav-r2-right>li>a:hover,
     .nav-r2-right>li>a:active,
     .nav-r2-right>li>a:focus { 
         color: #ffdb4a!important;
     }
        

/*-------GIFT BOT TAB -------*/

.giftbot,
.invented-here {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.giftbot span {
    display: inline-block;
    
/*    margin-top: 8px;*/
    
    background: url(images/robot_1.png) no-repeat center;
    background-position: 29% 27%;
    width: 84px;
    height: 78px;
    
    vertical-align: middle;
}

.giftbot span:hover{
/*    position: absolute;*/
    background: url(images/robot_2.png) no-repeat center;
        background-position: 29% 27%;

    width: 84px;
    height: 78px;
}

/*------- /GIFT BOT TAB -------*/

/*-------INVENTED HERE TAB -------*/

.invented-here span {
/*    position: absolute;*/
    display: inline-block;
    
/*    margin-top: 8px;*/
    
    background: url(images/pin_1.png) no-repeat center;
    width: 52px;
    height: 78px;
    
vertical-align: middle;

   
}

.invented-here:hover span{
/*    position: absolute;*/
    display: inline-block;
    background: url(images/pin_2.png) no-repeat center;
    width: 52px;
    height: 78px;
    
  
}
/*-------END INVENTED HERE TAB -------*/

/*---------- /NAV BAR ROW 2 ----------*/

/*---------- NAV BAR ROW 3 ----------*/

.nav-r3-collapse {
    background-color: #ffffff;
}

.nav-r3-collapse ul {
    padding-right: 12%;
    padding-left: 12%;
}

.nav-r3-divider-lg {
    border-top: 9px solid #5ad9ff!important; 
}

.nav-r3 li a{
    
    font-family: 'Exo 2', sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    color: #58595b!important;
    
    
    text-transform: uppercase;
}

 .nav-r3>li:hover,
     .nav-r3>li:active,
     .nav-r3>li:focus { 
         background-color: #eeeeee;
     }

/*---------- NAV BAR ROW 3 ----------*/

.navbar-header {
    height: 72px;
}
.navbar-brand {
  padding: 2px;
    padding-left: 10px;
}

.navbar-brand>img {
    margin-top: 4px;
  width: auto;
  height: 170%;
    
}

/*
.navbar-nav {
    margin: 1px 1px;
}
*/

.navbar-toggle {
    outline: 0;
}

.navbar-toggle {
    top: 10px;
}

.navbar-toggle:before {
    content:"Menu";
    left:-50px;
    top:4px;
    position:absolute;
    width:50px;
    color: #ffffff;
}

.navbar-inverse .navbar-toggle {
    /* padding-top: 10px; */
    background-color: #f24c22;
}

.navbar-inverse .navbar-toggle:hover {
    /* padding-top: 10px; */
    background-color: #d83c14;
}

.navbar-inverse .navbar-toggle:active {
    /* padding-top: 10px; */
    background-color: #d83c14;
}

.navbar-inverse .navbar-toggle:visited {
    /* padding-top: 10px; */
    background-color: #d83c14;
}

.nav-logo-lg {
    position: absolute;
    z-index: 999;
    
    top: 1px;
    left: 10px;
    
    margin-left: 0px!important;

    height: 95px;
    width: 362px;
    
    background: url("images/fbt_logo.png") no-repeat  center;
    background-position: 30% 20%;
    background-size: 100%;
}


#topNav {
    z-index: 999;
}

#nav {
    width: 100%;
}


/*
.navbarskinny, .navbarfat {
    padding-top: 1.1em;
    
    font-size: 1.2em;
}
*/

.account-btn {
    margin-top: 8px;
    
    letter-spacing: 1px;    
    border-radius:0;
}

/*
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
*/
 
/*
.btn-danger {
    background: #f24c22;
    border: 1px solid #f24c22;
    color: #ffffff;
}
 
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    background: #e03a19;
    border: 1px solid #e03a19;
}
 
.btn-danger:active, .btn-danger.active {
    background: #d83919;
    border: 0;
    box-shadow: none;  
}

.glyphicon-earphone {
    font-size: .9em;
}
*/


.header-dropdown-menu {
/*
     width: 500px;
  left: 50%;
  right: auto;
*/
    width: 100%;
    border: none;
    
    border-radius: 0;
    
    background-color: transparent;
    list-style: none;
/*  text-align: center;*/
/*  transform: translate(-38%, 0);*/
    color: #ffffff;
    box-shadow:none;
}


.dropdown-menu > li {
    background-color: #f24c22;
    background-image: none;
}

.dropdown-menu > li:hover,
.dropdown-menu > li:active,
.dropdown-menu > li:focus {
    background-color: transparent;
    color: #ffffff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:active,
.dropdown-menu > li > a:focus {
    background-color:rgba(0,0,0,0.6);
    color: #ffffff;
}


/*-- change navbar dropdown color --*/
.header-dropdown-menu li a {
    background-color: #f24c22;
    
    padding: 10px 20px;
    color:#ffffff;
  }



/*---------- /NAV BAR ----------*/

 /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 580px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel-inner{
    height: 580px;
}

.item {
    display: none;
    position: relative;
    .transition(.6s ease-in-out left);
}

    .carousel .item {
      height: 580px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 580px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }

/*---------- MODALS ---------*/
/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password], input[type=email] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #f24c22;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
}

.loginmodal-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #e03a19;
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

.whole-modal-lable {
    margin-top: 10px;

        font-size: 1.8em;
        font-family: 'Exo 2', sans-serif;
        font-weight: 600;

        color: #e27225;
    
        text-transform: uppercase;
}

/*---------- /MODALS ---------*/

/*---------- MEDIA QUERIES ----------*/

/*** 1999 and below ***/

@media (min-width: 992px) and (max-width: 1199px) {

    
}

@media only screen and (max-width: 1440px) {

    
}

@media (max-width: 1199px) {
    
    
    .giftbot,
    .invented-here {
        padding-top: 15px!important;
        padding-bottom: 15px!important;
}

    .giftbot span,
    .invented-here span,
    .giftbot span:hover,
    .invented-here:hover span{
    display: none;
}
    
}





@media only screen and (max-width: 500px) {
    

}

@media (max-width: 767px) {
  .reorder .row {
    display: flex;
    display: -ms-flex;
    flex-direction: column;
  }
  .reorder .row .item1 {
    order: 2;
  }
  .reorder .row .item2 {
    order: 1;
  }
   
}

@media only screen and (max-width: 768px) {

     .navbar-nav.nav-justified > li {
        float: none;
    }
    
    .nav-r3-divider-lg {
    border-top: none; 
}
    
.nav-r2-divider-sm {
    border-bottom: 9px solid #5ad9ff; 
}

}


@media (max-width: 991px) {
/*
    .nav-logo-lg {
        margin-left: 10px;
        height: 130px;
    width: 240px;
        
    background-size: 75%;
    }
*/

       
}
    

 @media screen and (min-width: 1199px) {
     
     .nav-r2-right>li:hover,
     .nav-r2-right>li:active,
     .nav-r2-right>li:focus { 
/*         text-decoration: underline;*/
/*         background-color: #eeeeee;*/
     }
       

    .dropdown:hover .dropdown-menu {
    display: block;
}

    }


@media (min-width: 891px){

}

@media (max-width: 768px) { 
     .header-dropdown-menu > li > a {
            padding: 10px 20px;
            font-weight: normal;
         color: #ffffff;
        }
    
    .nav-justified > li > a { 
        text-align: left;
    }
}

@media (max-width: 768px) { 
     .header-dropdown-menu > li > a {
            padding: 10px 20px!important;
            font-weight: normal!important;
         color: #ffffff!important;
        } 
}

@media (min-width: 768px){
    .nav-r3 {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }
    
    .nav-r3>li>a {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .nav-r3>li {
        display: table-cell;
        float: none;
        text-align: center;
    }
} 

@media (max-width: 767px){

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    padding: 15px 20px;
    color: #ffffff;}

}

/*- - - Responsivise at breakpoint - - - - */
@media (max-width: 600px) {
  	  /* make tds into single column full width rows */
    .tab-table-body {
        padding: 10px;
    }
			.tab-table-row,.tab-table-cell {
				display: block;
				width: 100%;
         padding: 10px;
                padding-top: 5px;
                 padding-bottom: 9px;
			}  
  
    .tab-table-row {
        border-spacing: 100px;
}
    
       /* hide table head */
      .tab-table-head {
				display: none;
	  	}
  
		  /* place data attribute before td as a label */
    	.tab-table-cell[data-header-title]:before {
				content: attr(data-header-title)':';
				display: block;
          color: #666;  
          /* labels will stack by default but optionally float to left */
          float:left;
          width:100px;
        
      }
      .tab-table-body {
          border-collapse: collapse;
        display:block;
      }
      .tab-table-body tr {
        margin-bottom:0px;
/*        border-bottom: 10px solid #222222;*/
        display:block;
     }
      /* unset background used on desktop view */
     .tab-table-body tr:nth-of-type(even) {
        background: transparent;
      }
      .tab-table-row td:nth-of-type(even) {
          background:#eee;
      }
 
}

@media (max-width: 414px){
.nav-logo-lg {
        margin-left: 10px;
    height: 72px;
    width: 250px;
    background-size: 100%;
    }
    
}

@media only screen and (max-width: 1059px) {
    .nav-logo-lg {
        top: 1px;
        margin-left: 10px;
    width: 320px;
    background-size: 100%;
    }
    
    .nav-r2-list-divider {
        border-right: none;
    }
    
    .nav-r2-right {
        padding-top: 9px;
    }
    
    .nav-r2-right li{
        float: none!important;
        height:20px;
        
    }
    
    .nav-r2-right li a,
    .giftbot a,
    .invented-here a{
        padding-top: 0px!important;
        padding-bottom: 0px!important;
        
        font-size: 1em;
        
         line-height: 1em!important;
    }
    
    .nav-r3 li a {
        font-size: 1em;
    }
}




@media only screen and (max-width: 2000px) {
    .nav-r3-collapse ul {
        padding-right: 8%;
        padding-left: 8%;
    }
}

@media only screen and (max-width: 1500px) {
    .nav-r3-collapse ul {
        padding-right: 2%;
        padding-left: 2%;
    }
}
/*---------- /MEDIA QUERIES ----------*/

