html,
body {
    height: 100%;
/*    padding-top: 50px;*/
    }

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #ffffff;
}

/* Wrapper for page content to push down footer */

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto 0px;
    /* Pad bottom by footer height */
    padding: 0 0 0px;
}

.divider {
    height: 50px;
}

.panel {
    border-width: 0;
}

.img-responsive {
    margin: 0 auto;
}

/*
section {
    color: #ffffff;
    min-height: 400px;
    height: auto !important;
    height: 100%;
    padding-top: 100px;
}
*/

/*---------- NAV BAR ----------*/

/*---------- NAV GENERAL ----------*/

.nav-r1-container,
.nav-r2-container,
.nav-r3-container,
.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

/*---------- /NAV GENERAL ----------*/

/*---------- NAV BAR ROW 1 ----------*/

.nav-r1-container {
    height: 35px;
    background:#f4f7f9;
    
}

.nav-r1-left{
    background: grey
}

/*---------- /NAV BAR ROW 1 ----------*/


/*---------- NAV BAR ROW 2 ----------*/

.nav-r2-container {
    border: none;
    border-radius: 0px;
    
    background-color: #58595b;
}

.nav-r2-right li {
    height:72px;
}

.nav-r2-right li a{
    height:72px;
    
    padding-left: 23px;
    padding-right: 23px;
    
    font-family: 'Exo 2', sans-serif;
    font-size: 1.25em;
    font-weight:300;
    color: #b9bbbd!important;
    
    line-height: 44px;
    
    text-transform: uppercase;
}

.nav-r2-divider {
    height:9px; 
    
    background:#5ad9ff; 
}

.search-width {
    width:280px!important;
}

.search-height {
    margin-top: 6px;
    
    height: 44px;
    
    border-radius: 0px;
}

.nav-r2-divider {
    border-right: 1px solid #b9bbbd;
}

/*-------GIFT BOT TAB -------*/

.giftbot,
.invented-here {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.giftbot span {
    display: inline-block;
    
/*    margin-top: 8px;*/
    
    background: url(images/robot_1.png) no-repeat center;
    background-position: 46% 24%;
    width: 78px;
    height: 78px;
    
    vertical-align: middle;
}

.giftbot span:hover{
/*    position: absolute;*/
    background: url(images/robot_2.png) no-repeat center;
        background-position: 46% 24%;

    width: 78px;
    height: 78px;

}

/*------- /GIFT BOT TAB -------*/

/*-------INVENTED HERE TAB -------*/

.invented-here span {
/*    position: absolute;*/
    display: inline-block;
    
/*    margin-top: 8px;*/
    
    background: url(images/pin_1.png) no-repeat center;
    width: 52px;
    height: 78px;
    
vertical-align: middle;

   
}

.invented-here:hover span{
/*    position: absolute;*/
    display: inline-block;
    background: url(images/pin_2.png) no-repeat center;
    width: 52px;
    height: 78px;
    
  
}
/*-------END INVENTED HERE TAB -------*/

/*---------- /NAV BAR ROW 2 ----------*/

/*---------- NAV BAR ROW 3 ----------*/

.nav-r3 {
    background-color: #ffffff;
}

.nav-r3 li a{
    
    font-family: 'Exo 2', sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    color: #58595b!important;
    
    
    text-transform: uppercase;
}

/*---------- NAV BAR ROW 3 ----------*/

.navbar-header {
    height: 72px;
}
.navbar-brand {
  padding: 2px;
    padding-left: 10px;
}

.navbar-brand>img {
    margin-top: 4px;
  width: auto;
  height: 170%;
    
}

.navbar-nav {
    margin: 1px 1px;
}

.navbar-toggle {
    outline: 0;
}

.navbar-toggle {
    top: 10px;
}

.navbar-toggle:before {
    content:"Menu";
    left:-50px;
    top:4px;
    position:absolute;
    width:50px;
    color: #ffffff;
}

.navbar-inverse .navbar-toggle {
    /* padding-top: 10px; */
    background-color: #f24c22;
}

.navbar-inverse .navbar-toggle:hover {
    /* padding-top: 10px; */
    background-color: #d83c14;
}

.navbar-inverse .navbar-toggle:active {
    /* padding-top: 10px; */
    background-color: #d83c14;
}

.navbar-inverse .navbar-toggle:visited {
    /* padding-top: 10px; */
    background-color: #d83c14;
}

.nav-logo-lg {
    position: absolute;
    
    margin-left: 0px!important;

    height: 95px;
    width: 362px;
    
    background: url("images/fbt_logo.png") no-repeat  center;
    background-position: 30% 20%;
    background-size: 100%;
}


#topNav {
    z-index: 999;
}

#nav {
    width: 100%;
}


/*
.navbarskinny, .navbarfat {
    padding-top: 1.1em;
    
    font-size: 1.2em;
}
*/

.account-btn {
    margin-top: 8px;
    
    letter-spacing: 1px;    
    border-radius:0;
}

/*
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
*/
 
/*
.btn-danger {
    background: #f24c22;
    border: 1px solid #f24c22;
    color: #ffffff;
}
 
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    background: #e03a19;
    border: 1px solid #e03a19;
}
 
.btn-danger:active, .btn-danger.active {
    background: #d83919;
    border: 0;
    box-shadow: none;  
}

.glyphicon-earphone {
    font-size: .9em;
}
*/


.header-dropdown-menu {
/*
     width: 500px;
  left: 50%;
  right: auto;
*/
    width: 100%;
    border: none;
    
    border-radius: 0;
    
    background-color: transparent;
    list-style: none;
/*  text-align: center;*/
/*  transform: translate(-38%, 0);*/
    color: #ffffff;
    box-shadow:none;
}


.dropdown-menu > li {
    background-color: #f24c22;
    background-image: none;
}

.dropdown-menu > li:hover,
.dropdown-menu > li:active,
.dropdown-menu > li:focus {
    background-color: transparent;
    color: #ffffff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:active,
.dropdown-menu > li > a:focus {
    background-color:rgba(0,0,0,0.6);
    color: #ffffff;
}


/*-- change navbar dropdown color --*/
.header-dropdown-menu li a {
    background-color: #f24c22;
    
    padding: 10px 20px;
    color:#ffffff;
  }



/*---------- /NAV BAR ----------*/


/*---------- MODALS ---------*/
/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password], input[type=email] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #f24c22;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
}

.loginmodal-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #e03a19;
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

.whole-modal-lable {
    margin-top: 10px;

        font-size: 1.8em;
        font-family: 'Exo 2', sans-serif;
        font-weight: 600;

        color: #e27225;
    
        text-transform: uppercase;
}

/*---------- /MODALS ---------*/

/*---------- MEDIA QUERIES ----------*/

/*** 1999 and below ***/

@media (min-width: 992px) and (max-width: 1199px) {
  .info-btn {
    margin-bottom: 5px;
    }
    
    /*  SPECS BACKGROUND-COLOR  */
    
    .specs-background-color {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+50,f4f7f9+50 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 50%, #f4f7f9 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ffffff 50%,#f4f7f9 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ffffff 50%,#f4f7f9 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f7f9',GradientType=1 ); /* IE6-9 */

    }
    
}

@media only screen and (max-width: 1440px) {
     .overlay {
        position: absolute;
        z-index: 12;
        bottom: 10%;
        left: 10%;
        width: 90%;

        text-align: left;
        color: #fff;
    }

    .overlay h1{
        font-size: 6em!important;
        font-weight:800;
        line-height: 1em;

        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    }
    
}

@media only screen and (max-width: 1199px) {
    .secondary-header-title-2 {
   
    margin-top: 190px;
/*
    right: 10%;
    
*/
    font-size: 4em!important;
   
/*    line-height: 1.2em;*/

}
    
    
    
    .list-inline>li {
    display: block;
    padding-right: 0;
    padding-left: 0;
    }
    
    .request-catalog-div {
    margin-top: 125px;
    }
    
    .request-catalog-div-right {
    margin-top: 20px;
    }
    
   

}

@media only screen and (max-width: 500px) {
    

/*   TRADE SHOW CONTENT  */
    .tradeshow-content-header {
        font-size: 3.75em;
    /*   TRADE SHOW CONTENT  */
}

@media only screen and (max-width: 768px) {
    
     
    
     .affix {
         position: fixed;
    right: -20;
    }


     .navbar-nav.nav-justified > li {
        float: none;
    }
    
        .overlay {
        position: absolute;
        z-index: 12;
        bottom: 10%;
        left: 10%;
        width: 90%;

        text-align: left;
        color: #fff;
    }

    .overlay h1{
        font-size: 4em!important;
        font-weight:800;
        line-height: 1.2em;

        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    }
    
    .product-catalog-parallax-header {
        margin-top: 20px;
    }
    
    .four-way-btn-1 {
         min-width:100%;
    }
    
    .wholsale-contact {
 
    padding-left: 50px;
    
}
  
    
    
     /*  PARALLAX SECTION BUTTON   */
    
    .toy-design-btn-header,
    .request-catalog-btn-header {

        padding-left: 0;
        padding-right: 0;

        font-family: 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif;
/*        font-size: 2em;*/
        font-weight: 700;
    }
    
     /*  /PARALLAX SECTION BUTTON    */
    
    /*  SPLIT RULE   */
    
    .split-rule {
        display:block;
    }
    
     
    /*  SPLIT RULE   */
    
    
    /*  PRODUCT SPECS   */
    
        .table-responsive {
            border: none;
            
    }


    .borderless thead tr th {
         margin-bottom: 5px;

        font-size: 2em;
        font-family: 'Exo 2', sans-serif;
        font-weight: 600;

        color: #6d6e71;
    }

    .borderless tbody tr td {
        padding-top: 10px;
        padding-bottom: 0px;

        border: none;

        font-size: 1em;
    }
    /*  /PRODUCT SPECS   */
    
}
    
   
}



@media (max-width: 991px) {
/*
    .nav-logo-lg {
        margin-left: 10px;
        height: 130px;
    width: 240px;
        
    background-size: 75%;
    }
*/
    
    .contact-info {
        margin-left: 0px;
        margin-top: 100px;
        
    }
    
     /*  SPECS BACKGROUND-COLOR  */
    
    .specs-background-color {
       
    background: #ffffff;

    }
    
    .specs-wrapper{
    background-color: #f4f7f9;
    }
    
    /*   TRADE SHOW CONTENT  */
    .tradeshow-content-header {
    padding-left: 0;
        }
    
     .tradeshow-content-spacer {
    margin-left:0;
}
    .tradeshow-content-spacer ul {
    padding-left:0;
}
    
    .tradeshow-content-wrapper{
    border-left:0;
    }
    
    .split-rule-white {
        display:block;
    }
    
    .dev-concept-right {
    border-top: 2px solid #b2b2b2;
    border-left: none;
}
    
    
}
    
    
     /*  /SPECS BACKGROUND-COLOR  */

 @media screen and (min-width: 1199px) {
     
     .navbar-nav>li:hover,
     .navbar-nav>li:active,
     .navbar-nav>li:focus {
         background-color: #eeeeee;
     }
        
    .dropdown:hover .dropdown-menu {
    display: block;
}

    }


@media (min-width: 891px){
.short-text {
    height: 400px;
}
    
.full-text{
    height: auto;
}
}

@media (max-width: 768px) { 
     .header-dropdown-menu > li > a {
            padding: 10px 20px;
            font-weight: normal;
         color: #ffffff;
        }

    .split-container-orange,
    .split-container-red,
    .split-container-blue, 
    .split-container-yellow {
       background: #ffffff;
    }
    
    .search-width {
        width: 100%!important;
    }
    
    .nav-justified > li > a { 
        text-align: left;
    }

    .toys-header {
        color: #f24c22;
    }
    
    .toys-btn {
     border: 2px solid #f24c22;
    
    background-color:transparent;
    
    font-family: Georgia, Times, "Times New Roman", serif;

    color: #f24c22;
    }
    
    .toys-btn:hover,
    .toys-btn:focus,
    .toys-btn:active {
    background-color: #f24c22;
    outline: 0;
    color: #ffffff;
    }
    
    .games-header {
        color: #ee3647;
    }
    
    .games-btn {
     border: 2px solid #ee3647;
    
    background-color:transparent;
    
    font-family: Georgia, Times, "Times New Roman", serif;

    color: #ee3647;
    }
    
    .games-btn:hover,
    .games-btn:focus,
    .games-btn:active {
    background-color: #ee3647;
    outline: 0;
    color: #ffffff;
    }
    
.brain-teasers-header {
        color: #0199a7;
    }
    
    .brain-teasers-btn {
     border: 2px solid #0199a7;
    
    background-color:transparent;
    
    font-family: Georgia, Times, "Times New Roman", serif;

    color: #0199a7;
    }
    
    .brain-teasers-btn:hover,
    .brain-teasers-btn:focus,
    .brain-teasers-btn:active {
    background-color: #0199a7;
    outline: 0;
    color: #ffffff;
    }
    
    .education-header {
        color: #ffcb09;
    }
    
    .education-btn {
     border: 2px solid #ffcb09;
    
    background-color:transparent;
    
    font-family: Georgia, Times, "Times New Roman", serif;

    color: #ffcb09;
    }
    
    .education-btn:hover,
    .education-btn:focus,
    .education-btn:active {
    background-color: #ffcb09;
    outline: 0;
    color: #ffffff;
    }


    .split-section-p {
        color: #58595b;
    }

}

@media (max-width: 768px) and (orientation: landscape) { 

        .overlay {
        position: absolute;
        z-index: 12;
        bottom: 10%;
        left: 10%;
        width: 90%;

        text-align: left;
        color: #fff;
    }

    .overlay h1{
        font-size: 3em!important;
        font-weight:800;
        line-height: 1.2em;

        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    }
    
/*
    .nav-logo-lg {
        margin-left: 10px;
    height: 90px;
    width: 122px;
    background-size: 100%;
    }
*/
}

}

@media (max-width: 768px) { 
     .header-dropdown-menu > li > a {
            padding: 10px 20px!important;
            font-weight: normal!important;
         color: #ffffff!important;
        }
    
    
}

@media (max-width: 767px){
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    padding: 15px 20px;
    color: #ffffff;}
    
    .caption {
     
    bottom: 10px; 
    
}
    
   
    .secondary-header-title-2,
    .secondary-header-title-3 {
    margin-top: 150px;
    line-height: 1em;

}
    .secondary-header-title {
        font-size: 5em!important;
    }
    
    .meet-fbtc-video-img {
        padding-top:50px;
    }
    
    .request-catalog-btn-header {
        font-size: 1.5em;
    }
    
    .toy-design-btn-header {
        font-size: 1.75em;    
    }
    
    .toy-design-btn-p  {
        font-size: 1.25em;
    }
    
    .about-us-heading {
   font-size: 4em;
    
}
    
    .downloadable-content-header {
        font-size: 3.5em;
    }
    
    .table-responsive {
        border: none;
    }


}

/*- - - Responsivise at breakpoint - - - - */
@media (max-width: 600px) {
  	  /* make tds into single column full width rows */
    .tab-table-body {
        padding: 10px;
    }
			.tab-table-row,.tab-table-cell {
				display: block;
				width: 100%;
         padding: 10px;
                padding-top: 5px;
                 padding-bottom: 9px;
			}  
  
    .tab-table-row {
        border-spacing: 100px;
}
    
       /* hide table head */
      .tab-table-head {
				display: none;
	  	}
  
		  /* place data attribute before td as a label */
    	.tab-table-cell[data-header-title]:before {
				content: attr(data-header-title)':';
				display: block;
          color: #666;  
          /* labels will stack by default but optionally float to left */
          float:left;
          width:100px;
        
      }
      .tab-table-body {
          border-collapse: collapse;
        display:block;
      }
      .tab-table-body tr {
        margin-bottom:0px;
/*        border-bottom: 10px solid #222222;*/
        display:block;
     }
      /* unset background used on desktop view */
     .tab-table-body tr:nth-of-type(even) {
        background: transparent;
      }
      .tab-table-row td:nth-of-type(even) {
          background:#eee;
      }
 
}

@media (max-width: 414px){
.nav-logo-lg {
        margin-left: 10px;
    height: 72px;
    width: 250px;
    background-size: 100%;
    }
    
}
}

/*---------- /MEDIA QUERIES ----------*/

