/*---------- MEDIA QUERIES ----------*/

/*** 1999 and below ***/







/*- - - Responsivise at breakpoint - - - - */


@media only screen and (max-width: 2000px) {
    .nav-r3-collapse ul {
        padding-right: 8%;
        padding-left: 8%;
    }
}

@media only screen and (max-width: 1525px) {
    
    .nav-r1-left-ship{
    padding-left:40px!important;
}
    
    .nav-r1-right-label-a{
    padding-left:23px!important;
    padding-right: 23px!important;
}

.nav-r1-right-number{
    padding-left:23px!important;
    padding-right: 23px!important;
    }
    
}

@media only screen and (max-width: 1500px) {
    .nav-r3-collapse ul {
        padding-right: 2%;
        padding-left: 2%;
    }
    
    .nav-r1-left-ship{
    padding-left:20px!important;
        font-size:1em;
}
    
    
}

@media only screen and (max-width: 1380px) {
    
    
    .nav-r1-right-label-a{
    padding-left:10px!important;
    padding-right: 10px!important;
}

.nav-r1-right-number{
    padding-left: 10px!important;
    padding-right: 10px!important;
    }
    
}


@media screen and (min-width: 1199px) {
     
     .nav-r2-right>li:hover,
     .nav-r2-right>li:active,
     .nav-r2-right>li:focus { 
/*         text-decoration: underline;*/
/*         background-color: #eeeeee;*/
     }
       

    .dropdown:hover .dropdown-menu {
    display: block;
}



}



@media (max-width: 1199px) {
    
    .search-bar{
    right: 400px;
}
    
    
    .giftbot,
    .invented-here {
        padding-top: 15px!important;
        padding-bottom: 15px!important;
}

    .giftbot span,
    .invented-here span,
    .giftbot span:hover,
    .invented-here:hover span{
    display: none;
}
    
    .nav-r1-left-ship{
    padding-left:20px!important;
        font-size:1em;
}
    
    .nav-r1-right-label-b{
    padding-left:0px!important;
    padding-right: 10px!important;
}
    
    .nav-r1-right-label-a{
    padding-left:0px!important;
    padding-right: 0px!important;
}

.nav-r1-right-number{
    padding-left: 0px!important;
    padding-right: 10px!important;
    }
    
}

@media only screen and (max-width: 1059px) {
    .nav-logo-lg {
        top: 1px;
        margin-left: 10px;
    width: 320px;
    background-size: 100%;
    }
    
    .nav-r2-list-divider {
        border-right: none;
    }
    
    .nav-r2-right {
        padding-top: 9px;
    }
    
    .nav-r2-right li{
        float: none!important;
        height:20px;
        
    }
    
     .search-bar{
    right: 150px;
    left: 340px;
}

    .nav-r2-right li a,
    .giftbot a,
    .invented-here a{
        padding-top: 0px!important;
        padding-bottom: 0px!important;
        
        font-size: 1em;
        
         line-height: 1em!important;
    }
    
    .nav-r3 li a {
        font-size: 1em;
    }
}

@media (max-width: 991px){
    
   
    .nav-r1-left-ship {
        font-size: 1.2em;
    }
}

@media (min-width: 768px){
    .nav-r3 {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }
    
    .nav-r3>li>a {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .nav-r3>li {
        display: table-cell;
        float: none;
        text-align: center;
    }
} 

@media only screen and (max-width: 767px) {
    
    .navbar-header {
    height: 117px;
}
    
    .nav-logo-lg {
        
        top: 5px;
    
        margin-left: 10px;
    height: 42px;
    width: 180px;
    background-size: 100%;
    }
    
    .collapse-sign-in {
        display: inline-block;
        padding-right: 10px;
        
         font-family: 'Exo 2', sans-serif;
    font-size: 1em;
    font-weight:400;
        color: #ffffff;
        
        line-height: 40px;
        
        text-decoration: underline;
    }
    

.collapse-cart-wrap {
    display: inherit;
    
    width: 80px;
    height: 40px;
    
    background:#404041;
}

.collapse-cart-container {
     width: 40px; 
    height: 40px; 
    
    background:#f6333c;
}

.collapse-cart-qty{
   padding: 9px 9px;
    
    font-family: 'Exo 2', sans-serif;
    font-size: 1.1em;
    font-weight:500;
    
    line-height: 40px;
    
    color:#ffffff;
    
    text-transform: uppercase;
}

    
.nav-r1-right-cart-glyph {
    padding: 0px 11px;
    line-height: 40px;
}
    
    ::-webkit-input-placeholder {
    font-size: 1em!important;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 1em!important;
}
::-moz-placeholder {  /* Firefox 19+ */
    font-size: 1em!important;
}
    

     .navbar-nav.nav-justified > li {
        float: none;
    }
    
    .nav-r3-divider-lg {
    border-top: none; 
}
    
    
     .nav-justified > li > a { 
        text-align: left;
    }
    
     .header-dropdown-menu > li > a {
            padding: 10px 20px!important;
            font-weight: normal!important;
         color: #ffffff!important;
        } 

}

@media (max-width: 767px){
    .nav-r1-container {
        display: none;
    }
    
    .reorder .row {
    display: flex;
    display: -ms-flex;
    flex-direction: column;
  }
  .reorder .row .item1 {
    order: 2;
  }
  .reorder .row .item2 {
    order: 1;
  }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    padding: 15px 20px;
    color: #ffffff;}
    
     .nav-delivery-1 {
        display:none;
    }
    
     .nav-delivery-2 {
        display:inherit;
         
/*         font-size: 1.2em;*/
    }
    
    .search-bar{
    position:inherit;
        margin-top: 0px;
        margin-bottom: 0px;
        
        padding-top: 44px;
        padding-bottom: 3px;
        margin-left: 0px;
        margin-right: 0px;
        
        border: none;
        
        box-shadow: none;
}
    
    .search-height {
        height: 40px;
    }
    
    .search-bar-button {
    height: 40px;
   padding-left: 10px!important;
        padding-right:10px!important;
/*        padding-top: 5px;*/
    background-color: #ffdb4a;
    font-size: 17px;
}
    
    .input-group-addon {
        padding: 0px;
    }
    
    .header-bottom-nav {
        margin-bottom: 0px; 
        padding-left: 15px;
    }
    
.header-bottom-nav li a{
    padding-right: 10px;
    
    font-family: 'Exo 2', sans-serif;
    font-size: .9em;
    font-weight: 600;
    color: #ffffff!important;
    
    
}

.header-bottom-nav {
    display: inherit;
}

 . header-bottom-nav>li>a:hover,
     .nav-r3>li:active,
     .nav-r3>li:focus { 
         background-color: #eeeeee;
     }
    
     .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }

}

@media (max-width: 600px) {
  	  /* make tds into single column full width rows */
    .tab-table-body {
        padding: 10px;
    }
			.tab-table-row,.tab-table-cell {
				display: block;
				width: 100%;
         padding: 10px;
                padding-top: 5px;
                 padding-bottom: 9px;
			}  
  
    .tab-table-row {
        border-spacing: 100px;
}
    
       /* hide table head */
      .tab-table-head {
				display: none;
	  	}
  
		  /* place data attribute before td as a label */
    	.tab-table-cell[data-header-title]:before {
				content: attr(data-header-title)':';
				display: block;
          color: #666;  
          /* labels will stack by default but optionally float to left */
          float:left;
          width:100px;
        
      }
      .tab-table-body {
          border-collapse: collapse;
        display:block;
      }
      .tab-table-body tr {
        margin-bottom:0px;
/*        border-bottom: 10px solid #222222;*/
        display:block;
     }
      /* unset background used on desktop view */
     .tab-table-body tr:nth-of-type(even) {
        background: transparent;
      }
      .tab-table-row td:nth-of-type(even) {
          background:#eeeeee;
      }
 
}

@media (max-width: 456px){
    

@media (max-width: 399px){
    
    
    .nav-logo-lg {
      
    top: 5px;
    left: 15px;
    
    margin-left: 0px!important;

    height: 41px;
    width: 88px;
    
    background: url("images/m_fbt_logo.png") no-repeat  center;
    background-position: 30% 20%;
    background-size: 100%;
    }
    
    
}

@media (max-width: 375px){
    
    }
    
/*---------- /MEDIA QUERIES ----------*/