.nav-main {
    background-color: #58595b;
    border: none;
}


.nav-3, .nav-3 li {
    height: 35px;
}




.nav-3 li a {
    padding: 8px 15px;
    
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    
    color: #58595b;
    
    
    text-transform: uppercase;
}